## 用技術指標預測 (五天前預測今天)

In [6]:
import numpy as np
import pandas as pd

import datetime as datetime
import talib

In [7]:
company = '聯發科'

In [8]:
df2018 = pd.read_csv("bda2019_dataset/TWSE2018.csv", encoding="utf-8")
df2017 = pd.read_csv("bda2019_dataset/TWSE2017.csv", encoding="utf-8")
df2016 = pd.read_csv("bda2019_dataset/TWSE2016.csv", encoding="utf-8")
df_all = pd.concat([df2018,df2017,df2016],axis=0, ignore_index=True)
df_company=df_all[df_all['證券代碼'].str.contains(company)]
df_company=df_company.reset_index(drop=True)
df_company

,證券代碼,年月日,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),成交值(千元),成交筆數(筆),流通在外股數(千股),本益比-TSE,股價淨值比-TSE
0,2454 聯發科,2018/12/28,223.5,229.5,223.5,229.5,"3,415","774,673","1,904","1,591,506",13.4,1.34
1,2454 聯發科,2018/12/27,224.5,227,223,225,"2,969","668,855","2,189","1,591,506",13.13,1.32
2,2454 聯發科,2018/12/26,222,223.5,220,220,897,"198,854",793,"1,591,506",12.84,1.29
3,2454 聯發科,2018/12/25,221,222,219,221,"1,528","337,471","1,229","1,591,506",12.9,1.29
4,2454 聯發科,2018/12/24,223.5,225.5,222.5,225,"1,674","375,607","1,173","1,591,506",13.13,1.32
...,...,...,...,...,...,...,...,...,...,...,...,...
732,2454 聯發科,2016/1/8,179.52,192.85,179.52,189.74,"15,267","3,225,534","10,104","1,571,583",10.46,1.41
733,2454 聯發科,2016/1/7,200.41,200.85,182.19,183.08,"21,538","4,610,941","14,136","1,571,583",10.09,1.36
734,2454 聯發科,2016/1/6,215.07,215.52,195.52,201.74,"18,471","4,200,025","11,874","1,571,583",11.12,1.50
735,2454 聯發科,2016/1/5,217.74,219.51,215.07,215.52,"4,992","1,219,940","3,444","1,571,583",11.88,1.61
736,2454 聯發科,2016/1/4,223.07,223.96,217.74,217.74,"5,433","1,343,002","3,637","1,571,583",12,1.62

In [9]:
list2330 = list()
for row in df_company.index:
    date=df_company.loc[row,'年月日']
    opens=float(df_company.loc[row,'開盤價(元)'])
    close=float(df_company.loc[row,'收盤價(元)'])
    high=float(df_company.loc[row,'最高價(元)'])
    low=float(df_company.loc[row,'最低價(元)'])
    volumn=int(df_company.loc[row,'成交量(千股)'].replace(',',''))
    list2330.append((date,opens,close,high,low,volumn))

In [10]:
list2330.reverse()
df_2330 = pd.DataFrame(list2330, columns=['Date','Open','Close','High','Low','Volume'])
df_2330

           Date    Open   Close    High     Low  Volume
0      2016/1/4  223.07  217.74  223.96  217.74    5433
1      2016/1/5  217.74  215.52  219.51  215.07    4992
2      2016/1/6  215.07  201.74  215.52  195.52   18471
3      2016/1/7  200.41  183.08  200.85  182.19   21538
4      2016/1/8  179.52  189.74  192.85  179.52   15267
..          ...     ...     ...     ...     ...     ...
732  2018/12/24  223.50  225.00  225.50  222.50    1674
733  2018/12/25  221.00  221.00  222.00  219.00    1528
734  2018/12/26  222.00  220.00  223.50  220.00     897
735  2018/12/27  224.50  225.00  227.00  223.00    2969
736  2018/12/28  223.50  229.50  229.50  223.50    3415

[737 rows x 6 columns]

In [11]:
#算出技術指標
sma_5 = talib.SMA(df_2330['Close'], 5)
sma_10 = talib.SMA(df_2330['Close'], 10)
k_value, d_value = talib.STOCH(df_2330['High'], df_2330['Low'], df_2330['Close'])
momentum = talib.MOM(df_2330['Close'], timeperiod=1)
roc = talib.ROC(df_2330['Close'], timeperiod=1)
william = talib.WILLR(df_2330['High'], df_2330['Low'], df_2330['Close'], timeperiod=14)
ad = talib.AD(df_2330['High'], df_2330['Low'], df_2330['Close'], df_2330['Volume'])
ema_8 = talib.EMA(df_2330['Close'], timeperiod=8)
macd, macd_signal, macd_hist = talib.MACD(df_2330['Close'], fastperiod=12, slowperiod=26, signalperiod=9)
rsi = talib.RSI(df_2330['Close'], timeperiod=14)
obv = talib.OBV(df_2330['Close'], df_2330['Volume'])
upperband, middleband, lowerband = talib.BBANDS(df_2330['Close'], timeperiod=21, nbdevup=2, nbdevdn=2, matype=0)

df_2330['sma_5'] = sma_5
df_2330['sma_10'] = sma_10
df_2330['k'] = k_value
df_2330['d'] = d_value
df_2330['momentum'] = momentum
df_2330['rate of change'] = roc
df_2330['william'] = william
df_2330['a/d'] = ad
df_2330['ema_8'] = ema_8
df_2330['macd'] = macd
df_2330['macd_signal'] = macd_signal
df_2330['macd_hist'] = macd_hist
df_2330['rsi'] = rsi
df_2330['obv'] = obv
# df_2330['bb_upperband'] = upperband
# df_2330['bb_middleband'] = middleband
# df_2330['bb_lowerband'] = lowerband
df_2330.head(40)

,Date,Open,Close,High,Low,Volume,sma_5,sma_10,k,d,momentum,rate of change,william,a/d,ema_8,macd,macd_signal,macd_hist,rsi,obv
0,2016/1/4,223.07,217.74,223.96,217.74,5433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5433.000000,NaN,NaN,NaN,NaN,NaN,5433.0
1,2016/1/5,217.74,215.52,219.51,215.07,4992,NaN,NaN,NaN,NaN,-2.22,-1.019565,NaN,-9413.108108,NaN,NaN,NaN,NaN,NaN,441.0
2,2016/1/6,215.07,201.74,215.52,195.52,18471,NaN,NaN,NaN,NaN,-13.78,-6.393838,NaN,-16395.146108,NaN,NaN,NaN,NaN,NaN,-18030.0
3,2016/1/7,200.41,183.08,200.85,182.19,21538,NaN,NaN,NaN,NaN,-18.66,-9.249529,NaN,-35878.610202,NaN,NaN,NaN,NaN,NaN,-39568.0
4,2016/1/8,179.52,189.74,192.85,179.52,15267,201.564,NaN,NaN,NaN,6.66,3.637754,NaN,-27735.446662,NaN,NaN,NaN,NaN,NaN,-24301.0
5,2016/1/11,185.74,185.74,187.08,180.85,10917,195.164,NaN,NaN,NaN,-4.00,-2.108148,NaN,-21514.684222,NaN,NaN,NaN,NaN,NaN,-35218.0
6,2016/1/12,186.63,183.52,187.96,180.41,9110,188.764,NaN,NaN,NaN,-2.22,-1.195219,NaN,-23119.492169,NaN,NaN,NaN,NaN,NaN,-44328.0
7,2016/1/13,186.63,183.52,187.08,181.30,10219,185.120,NaN,NaN,NaN,0.00,0.000000,NaN,-25488.602895,195.075000,NaN,NaN,NaN,NaN,-44328.0
8,2016/1/14,179.08,184.85,184.85,173.75,14232,185.474,NaN,29.326408,20.339939,1.33,0.724717,NaN,-11256.602895,192.802778,NaN,NaN,NaN,NaN,-30096.0
9,2016/1/15,186.63,182.19,188.41,178.19,10866,183.964,192.764,44.813246,29.759655,-2.66,-1.439005,NaN,-13616.927749,190.444383,NaN,NaN,NaN,NaN,-40962.0
10,2016/1/18,178.63,186.63,187.96,177.74,7493,184.142,189.653,67.848308,47.329321,4.44,2.437016,NaN,-8074.160625,189.596742,NaN,NaN,NaN,NaN,-33469.0
11,2016/1/19,186.63,192.41,196.85,185.74,10318,185.920,187.342,75.402987,62.688180,5.78,3.097037,NaN,-6003.130922,190.221911,NaN,NaN,NaN,NaN,-23151.0
12,2016/1/20,191.52,186.63,191.52,186.63,7062,186.542,185.831,74.798305,72.683200,-5.78,-3.004002,NaN,-13065.130922,189.423708,NaN,NaN,NaN,NaN,-30213.0
13,2016/1/21,189.30,186.63,190.19,186.19,5104,186.898,186.186,61.018981,70.406758,0.00,0.000000,-74.347739,-17046.250922,188.802884,NaN,NaN,NaN,NaN,-30213.0
14,2016/1/22,189.74,188.41,191.52,187.96,4309,188.142,186.053,52.704121,62.840469,1.78,0.953759,-67.963287,-20265.896990,188.715577,NaN,NaN,NaN,28.841437,-25904.0
15,2016/1/25,191.96,190.63,192.85,190.19,3730,188.942,186.542,48.789730,54.170944,2.22,1.178281,-59.588221,-22761.912027,189.141004,NaN,NaN,NaN,31.214127,-22174.0
16,2016/1/26,187.52,185.74,188.41,184.41,5491,187.608,186.764,38.535779,46.676543,-4.89,-2.565179,-55.756458,-24601.397027,188.385225,NaN,NaN,NaN,28.926182,-27665.0
17,2016/1/27,187.52,187.52,188.85,186.63,2178,187.786,187.164,32.207012,39.844174,1.78,0.958329,-40.389610,-25033.072703,188.192953,NaN,NaN,NaN,30.911349,-25487.0
18,2016/1/28,184.85,184.85,187.96,184.41,7238,187.430,187.164,19.273302,30.005364,-2.67,-1.423848,-51.948052,-30476.864252,187.450075,NaN,NaN,NaN,29.576859,-32725.0
19,2016/1/29,183.52,190.19,191.08,179.08,13311,187.786,187.964,40.914752,30.798355,5.34,2.888829,-28.831169,-19140.329252,188.058947,NaN,NaN,NaN,35.568051,-19414.0
20,2016/1/30,189.30,193.30,196.41,188.41,6247,188.320,188.631,55.983385,38.723813,3.11,1.635207,-15.367965,-17750.371752,189.223625,NaN,NaN,NaN,38.831875,-13167.0
21,2016/2/1,192.41,186.63,192.41,186.19,9398,188.498,188.053,68.767652,55.221929,-6.67,-3.450595,-44.242424,-25818.751174,188.647264,NaN,NaN,NaN,34.764522,-22565.0
22,2016/2/2,172.41,188.41,190.19,171.97,19720,188.676,188.231,64.295696,63.015577,1.78,0.953759,-33.922830,-9951.835696,188.594539,NaN,NaN,NaN,36.670886,-2845.0
23,2016/2/3,183.52,177.74,185.30,177.74,15642,187.254,187.342,44.813895,59.292414,-10.67,-5.663181,-76.808682,-25593.835696,186.182419,NaN,NaN,NaN,30.850934,-18487.0
24,2016/2/15,180.41,182.63,184.85,179.97,9836,185.742,186.764,44.830878,51.313490,4.89,2.751210,-57.154341,-24706.983237,185.392993,NaN,NaN,NaN,35.873918,-8651.0
25,2016/2/16,185.30,187.96,189.30,183.97,10086,184.674,186.497,48.484941,46.043238,5.33,2.918469,-34.574468,-19692.367852,185.963439,NaN,NaN,NaN,40.912135,1435.0
26,2016/2/17,189.74,186.63,191.08,186.63,8867,184.674,186.586,66.186582,53.167467,-1.33,-0.707597,-40.016367,-28559.367852,186.111563,NaN,NaN,NaN,40.066214,-7432.0
27,2016/2/18,190.19,195.52,195.52,189.30,10877,186.096,187.386,84.980908,66.550810,8.89,4.763436,-3.641571,-17682.367852,188.202327,NaN,NaN,NaN,47.830926,3445.0
28,2016/2/19,197.30,195.96,198.19,193.74,5659,189.740,188.497,88.158155,79.775215,0.44,0.225041,-8.504958,-17695.084706,189.926254,NaN,NaN,NaN,48.188704,9104.0
29,2016/2/22,197.74,203.52,204.85,196.85,10820,193.918,189.830,93.796990,88.978685,7.56,3.857930,-4.045012,-10472.734706,192.947087,NaN,NaN,NaN,54.023078,19924.0
30,2016/2/23,205.74,205.29,206.18,202.63,8327,197.384,191.029,92.279514,91.411553,1.77,0.869693,-2.601578,-6320.962875,195.689956,NaN,NaN,NaN,55.292444,28251.0
31,2016/2/24,204.41,201.74,204.41,200.85,5333,200.406,192.540,87.591507,91.222670,-3.55,-1.729261,-12.978661,-8987.462875,197.034411,NaN,NaN,NaN,52.180749,22918.0
32,2016/2/25,204.41,208.41,208.85,203.52,7733,202.984,194.540,88.744091,89.538371,6.67,3.306236,-1.193059,-2531.205840,199.562319,NaN,NaN,NaN,57.069313,30651.0
33,2016/2/26,207.96,209.74,211.07,206.63,6121,205.740,197.740,87.143893,87.826497,1.33,0.638165,-3.401535,-77.291425,201.824026,3.793619,0.474080,3.319539,57.991515,36772.0
34,2016/3/1,207.52,206.63,208.41,204.85,5050,206.362,200.140,81.430257,85.772747,-3.11,-1.482788,-11.355499,-77.291425,202.892020,4.123005,1.203865,2.919140,55.015489,31722.0
35,2016/3/2,209.29,207.96,209.74,207.52,4606,206.896,202.140,72.257407,80.277186,1.33,0.643663,-7.953964,-2857.489624,204.018238,4.440182,1.851128,2.589053,56.054132,36328.0
36,2016/3/3,210.18,213.29,215.96,210.18,8713,209.206,204.806,68.220741,73.969468,5.33,2.562993,-6.985871,-2194.216267,206.078630,5.063267,2.493556,2.569711,60.036379,45041.0
37,2016/3/4,214.18,213.29,214.18,211.07,3850,210.182,206.583,74.691349,71.723165,0.00,0.000000,-7.418727,-547.753245,207.681156,5.493738,3.093592,2.400145,60.036379,45041.0
38,2016/3/7,215.07,208.85,215.96,207.96,4555,210.004,207.872,63.502725,68.804938,-4.44,-2.081673,-22.225696,-4089.265745,207.940899,5.414207,3.557715,1.856491,55.203541,40486.0
39,2016/3/8,209.74,208.85,211.96,205.29,4603,210.448,208.405,48.445257,62.213110,0.00,0.000000,-24.241391,-3778.718518,208.142922,5.290195,3.904211,1.385984,55.203541,40486.0

In [12]:
# 正規化(scale)
from sklearn import preprocessing

df_2330['Volume'] = preprocessing.scale(df_2330['Volume'])
df_2330['a/d'] = preprocessing.scale(df_2330['a/d'])
df_2330['obv'] = preprocessing.scale(df_2330['obv'])
df_2330.head(10)

,Date,Open,Close,High,Low,Volume,sma_5,sma_10,k,d,momentum,rate of change,william,a/d,ema_8,macd,macd_signal,macd_hist,rsi,obv
0,2016/1/4,223.07,217.74,223.96,217.74,-0.361505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.896727,NaN,NaN,NaN,NaN,NaN,-1.756247
1,2016/1/5,217.74,215.52,219.51,215.07,-0.467789,NaN,NaN,NaN,NaN,-2.22,-1.019565,NaN,1.834383,NaN,NaN,NaN,NaN,NaN,-1.793742
2,2016/1/6,215.07,201.74,215.52,195.52,2.780731,NaN,NaN,NaN,NaN,-13.78,-6.393838,NaN,1.725018,NaN,NaN,NaN,NaN,NaN,-1.932480
3,2016/1/7,200.41,183.08,200.85,182.19,3.519896,NaN,NaN,NaN,NaN,-18.66,-9.249529,NaN,1.419833,NaN,NaN,NaN,NaN,NaN,-2.094255
4,2016/1/8,179.52,189.74,192.85,179.52,2.008547,201.564,NaN,NaN,NaN,6.66,3.637754,NaN,1.547385,NaN,NaN,NaN,NaN,NaN,-1.979583
5,2016/1/11,185.74,185.74,187.08,180.85,0.960171,195.164,NaN,NaN,NaN,-4.00,-2.108148,NaN,1.644826,NaN,NaN,NaN,NaN,NaN,-2.061581
6,2016/1/12,186.63,183.52,187.96,180.41,0.524674,188.764,NaN,NaN,NaN,-2.22,-1.195219,NaN,1.619689,NaN,NaN,NaN,NaN,NaN,-2.130008
7,2016/1/13,186.63,183.52,187.08,181.30,0.791949,185.120,NaN,NaN,NaN,0.00,0.000000,NaN,1.582580,195.075000,NaN,NaN,NaN,NaN,-2.130008
8,2016/1/14,179.08,184.85,184.85,173.75,1.759106,185.474,NaN,29.326408,20.339939,1.33,0.724717,NaN,1.805507,192.802778,NaN,NaN,NaN,NaN,-2.023110
9,2016/1/15,186.63,182.19,188.41,178.19,0.947880,183.964,192.764,44.813246,29.759655,-2.66,-1.439005,NaN,1.768535,190.444383,NaN,NaN,NaN,NaN,-2.104725

In [13]:
df_2330['shift_close_price'] = df_2330['Close'].shift(periods=5)
df_2330['shift_close_price'].fillna(value=0.0, inplace=True)
df_2330.head()

,Date,Open,Close,High,Low,Volume,sma_5,sma_10,k,d,...,rate of change,william,a/d,ema_8,macd,macd_signal,macd_hist,rsi,obv,shift_close_price
0,2016/1/4,223.07,217.74,223.96,217.74,-0.361505,NaN,NaN,NaN,NaN,...,NaN,NaN,1.896727,NaN,NaN,NaN,NaN,NaN,-1.756247,0.0
1,2016/1/5,217.74,215.52,219.51,215.07,-0.467789,NaN,NaN,NaN,NaN,...,-1.019565,NaN,1.834383,NaN,NaN,NaN,NaN,NaN,-1.793742,0.0
2,2016/1/6,215.07,201.74,215.52,195.52,2.780731,NaN,NaN,NaN,NaN,...,-6.393838,NaN,1.725018,NaN,NaN,NaN,NaN,NaN,-1.932480,0.0
3,2016/1/7,200.41,183.08,200.85,182.19,3.519896,NaN,NaN,NaN,NaN,...,-9.249529,NaN,1.419833,NaN,NaN,NaN,NaN,NaN,-2.094255,0.0
4,2016/1/8,179.52,189.74,192.85,179.52,2.008547,201.564,NaN,NaN,NaN,...,3.637754,NaN,1.547385,NaN,NaN,NaN,NaN,NaN,-1.979583,0.0

In [14]:
df_2330['div'] = df_2330['Close']-df_2330['shift_close_price']
df_2330.head(10)

,Date,Open,Close,High,Low,Volume,sma_5,sma_10,k,d,...,william,a/d,ema_8,macd,macd_signal,macd_hist,rsi,obv,shift_close_price,div
0,2016/1/4,223.07,217.74,223.96,217.74,-0.361505,NaN,NaN,NaN,NaN,...,NaN,1.896727,NaN,NaN,NaN,NaN,NaN,-1.756247,0.00,217.74
1,2016/1/5,217.74,215.52,219.51,215.07,-0.467789,NaN,NaN,NaN,NaN,...,NaN,1.834383,NaN,NaN,NaN,NaN,NaN,-1.793742,0.00,215.52
2,2016/1/6,215.07,201.74,215.52,195.52,2.780731,NaN,NaN,NaN,NaN,...,NaN,1.725018,NaN,NaN,NaN,NaN,NaN,-1.932480,0.00,201.74
3,2016/1/7,200.41,183.08,200.85,182.19,3.519896,NaN,NaN,NaN,NaN,...,NaN,1.419833,NaN,NaN,NaN,NaN,NaN,-2.094255,0.00,183.08
4,2016/1/8,179.52,189.74,192.85,179.52,2.008547,201.564,NaN,NaN,NaN,...,NaN,1.547385,NaN,NaN,NaN,NaN,NaN,-1.979583,0.00,189.74
5,2016/1/11,185.74,185.74,187.08,180.85,0.960171,195.164,NaN,NaN,NaN,...,NaN,1.644826,NaN,NaN,NaN,NaN,NaN,-2.061581,217.74,-32.00
6,2016/1/12,186.63,183.52,187.96,180.41,0.524674,188.764,NaN,NaN,NaN,...,NaN,1.619689,NaN,NaN,NaN,NaN,NaN,-2.130008,215.52,-32.00
7,2016/1/13,186.63,183.52,187.08,181.30,0.791949,185.120,NaN,NaN,NaN,...,NaN,1.582580,195.075000,NaN,NaN,NaN,NaN,-2.130008,201.74,-18.22
8,2016/1/14,179.08,184.85,184.85,173.75,1.759106,185.474,NaN,29.326408,20.339939,...,NaN,1.805507,192.802778,NaN,NaN,NaN,NaN,-2.023110,183.08,1.77
9,2016/1/15,186.63,182.19,188.41,178.19,0.947880,183.964,192.764,44.813246,29.759655,...,NaN,1.768535,190.444383,NaN,NaN,NaN,NaN,-2.104725,189.74,-7.55

In [15]:
df_2330['label'] = '平'
df_2330.loc[df_2330['div']>0.0, 'label'] = '漲'
df_2330.loc[df_2330['div']<0.0, 'label'] = '跌'
df_2330.head(10)

,Date,Open,Close,High,Low,Volume,sma_5,sma_10,k,d,...,a/d,ema_8,macd,macd_signal,macd_hist,rsi,obv,shift_close_price,div,label
0,2016/1/4,223.07,217.74,223.96,217.74,-0.361505,NaN,NaN,NaN,NaN,...,1.896727,NaN,NaN,NaN,NaN,NaN,-1.756247,0.00,217.74,漲
1,2016/1/5,217.74,215.52,219.51,215.07,-0.467789,NaN,NaN,NaN,NaN,...,1.834383,NaN,NaN,NaN,NaN,NaN,-1.793742,0.00,215.52,漲
2,2016/1/6,215.07,201.74,215.52,195.52,2.780731,NaN,NaN,NaN,NaN,...,1.725018,NaN,NaN,NaN,NaN,NaN,-1.932480,0.00,201.74,漲
3,2016/1/7,200.41,183.08,200.85,182.19,3.519896,NaN,NaN,NaN,NaN,...,1.419833,NaN,NaN,NaN,NaN,NaN,-2.094255,0.00,183.08,漲
4,2016/1/8,179.52,189.74,192.85,179.52,2.008547,201.564,NaN,NaN,NaN,...,1.547385,NaN,NaN,NaN,NaN,NaN,-1.979583,0.00,189.74,漲
5,2016/1/11,185.74,185.74,187.08,180.85,0.960171,195.164,NaN,NaN,NaN,...,1.644826,NaN,NaN,NaN,NaN,NaN,-2.061581,217.74,-32.00,跌
6,2016/1/12,186.63,183.52,187.96,180.41,0.524674,188.764,NaN,NaN,NaN,...,1.619689,NaN,NaN,NaN,NaN,NaN,-2.130008,215.52,-32.00,跌
7,2016/1/13,186.63,183.52,187.08,181.30,0.791949,185.120,NaN,NaN,NaN,...,1.582580,195.075000,NaN,NaN,NaN,NaN,-2.130008,201.74,-18.22,跌
8,2016/1/14,179.08,184.85,184.85,173.75,1.759106,185.474,NaN,29.326408,20.339939,...,1.805507,192.802778,NaN,NaN,NaN,NaN,-2.023110,183.08,1.77,漲
9,2016/1/15,186.63,182.19,188.41,178.19,0.947880,183.964,192.764,44.813246,29.759655,...,1.768535,190.444383,NaN,NaN,NaN,NaN,-2.104725,189.74,-7.55,跌

In [16]:
df_2330 = df_2330.drop(columns=['Open','Close','High','Low','Volume','shift_close_price','div'])
df_2330 = df_2330[33:]
df_2330 = df_2330.reset_index(drop=True)
df_2330.head()

,Date,sma_5,sma_10,k,d,momentum,rate of change,william,a/d,ema_8,macd,macd_signal,macd_hist,rsi,obv,label
0,2016/2/26,205.740,197.740,87.143893,87.826497,1.33,0.638165,-3.401535,1.980617,201.824026,3.793619,0.474080,3.319539,57.991515,-1.520856,漲
1,2016/3/1,206.362,200.140,81.430257,85.772747,-3.11,-1.482788,-11.355499,1.980617,202.892020,4.123005,1.203865,2.919140,55.015489,-1.558787,漲
2,2016/3/2,206.896,202.140,72.257407,80.277186,1.33,0.643663,-7.953964,1.937069,204.018238,4.440182,1.851128,2.589053,56.054132,-1.524191,漲
3,2016/3/3,209.206,204.806,68.220741,73.969468,5.33,2.562993,-6.985871,1.947458,206.078630,5.063267,2.493556,2.569711,60.036379,-1.458747,漲
4,2016/3/4,210.182,206.583,74.691349,71.723165,0.00,0.000000,-7.418727,1.973248,207.681156,5.493738,3.093592,2.400145,60.036379,-1.458747,漲

In [17]:
df_2330['5day_matrix'] = 'NA'
df_2330.head()

,Date,sma_5,sma_10,k,d,momentum,rate of change,william,a/d,ema_8,macd,macd_signal,macd_hist,rsi,obv,label,5day_matrix
0,2016/2/26,205.740,197.740,87.143893,87.826497,1.33,0.638165,-3.401535,1.980617,201.824026,3.793619,0.474080,3.319539,57.991515,-1.520856,漲,NA
1,2016/3/1,206.362,200.140,81.430257,85.772747,-3.11,-1.482788,-11.355499,1.980617,202.892020,4.123005,1.203865,2.919140,55.015489,-1.558787,漲,NA
2,2016/3/2,206.896,202.140,72.257407,80.277186,1.33,0.643663,-7.953964,1.937069,204.018238,4.440182,1.851128,2.589053,56.054132,-1.524191,漲,NA
3,2016/3/3,209.206,204.806,68.220741,73.969468,5.33,2.562993,-6.985871,1.947458,206.078630,5.063267,2.493556,2.569711,60.036379,-1.458747,漲,NA
4,2016/3/4,210.182,206.583,74.691349,71.723165,0.00,0.000000,-7.418727,1.973248,207.681156,5.493738,3.093592,2.400145,60.036379,-1.458747,漲,NA

In [18]:
for i in range(5,len(df_2330)):
    df_temp = df_2330[i-5:i]
    df_temp = df_temp.drop(columns=['Date','label','5day_matrix'])
    df_np = df_temp.to_numpy()
    df_2330['5day_matrix'][i] = df_np

C:\Users\Daniel\Anaconda3\envs\tfenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [19]:
df_2330.head(10)

,Date,sma_5,sma_10,k,d,momentum,rate of change,william,a/d,ema_8,macd,macd_signal,macd_hist,rsi,obv,label,5day_matrix
0,2016/2/26,205.740,197.740,87.143893,87.826497,1.33,0.638165,-3.401535,1.980617,201.824026,3.793619,0.474080,3.319539,57.991515,-1.520856,漲,NA
1,2016/3/1,206.362,200.140,81.430257,85.772747,-3.11,-1.482788,-11.355499,1.980617,202.892020,4.123005,1.203865,2.919140,55.015489,-1.558787,漲,NA
2,2016/3/2,206.896,202.140,72.257407,80.277186,1.33,0.643663,-7.953964,1.937069,204.018238,4.440182,1.851128,2.589053,56.054132,-1.524191,漲,NA
3,2016/3/3,209.206,204.806,68.220741,73.969468,5.33,2.562993,-6.985871,1.947458,206.078630,5.063267,2.493556,2.569711,60.036379,-1.458747,漲,NA
4,2016/3/4,210.182,206.583,74.691349,71.723165,0.00,0.000000,-7.418727,1.973248,207.681156,5.493738,3.093592,2.400145,60.036379,-1.458747,漲,NA
5,2016/3/7,210.004,207.872,63.502725,68.804938,-4.44,-2.081673,-22.225696,1.917775,207.940899,5.414207,3.557715,1.856491,55.203541,-1.492960,跌,"[[205.74, 197.74000000000004, 87.1438932441656..."
6,2016/3/8,210.448,208.405,48.445257,62.213110,0.00,0.000000,-24.241391,1.922639,208.142922,5.290195,3.904211,1.385984,55.203541,-1.492960,漲,"[[206.362, 200.14000000000004, 81.430256754057..."
7,2016/3/9,211.248,209.072,44.912046,52.286676,3.11,1.489107,-15.003751,2.013818,208.991161,5.380840,4.199537,1.181303,57.953133,-1.449238,漲,"[[206.89600000000002, 202.14000000000004, 72.2..."
8,2016/3/10,209.916,209.561,39.317773,44.225025,-5.33,-2.514625,-41.989199,1.932116,208.466459,4.965352,4.352700,0.612652,52.055928,-1.488416,跌,"[[209.206, 204.80600000000004, 68.220740703452..."
9,2016/3/11,210.094,210.138,56.392496,46.874105,7.55,3.653874,-9.314495,2.018598,209.736135,5.185522,4.519264,0.666257,58.498220,-1.433096,漲,"[[210.18200000000002, 206.58300000000003, 74.6..."

In [20]:
df_2330 = df_2330[5:]
print('原先資料量: %d' % len(df_2330))
df_2330 = df_2330[df_2330['label'].str.contains('漲|跌')]
df_2330=df_2330.reset_index(drop=True)
print('漲跌資料量: %d' % len(df_2330))

原先資料量: 699
漲跌資料量: 682

In [21]:
df_2330.loc[541, 'Date']

'2018/6/12'

In [22]:
df_2330.head()

,Date,sma_5,sma_10,k,d,momentum,rate of change,william,a/d,ema_8,macd,macd_signal,macd_hist,rsi,obv,label,5day_matrix
0,2016/3/7,210.004,207.872,63.502725,68.804938,-4.44,-2.081673,-22.225696,1.917775,207.940899,5.414207,3.557715,1.856491,55.203541,-1.492960,跌,"[[205.74, 197.74000000000004, 87.1438932441656..."
1,2016/3/8,210.448,208.405,48.445257,62.213110,0.00,0.000000,-24.241391,1.922639,208.142922,5.290195,3.904211,1.385984,55.203541,-1.492960,漲,"[[206.362, 200.14000000000004, 81.430256754057..."
2,2016/3/9,211.248,209.072,44.912046,52.286676,3.11,1.489107,-15.003751,2.013818,208.991161,5.380840,4.199537,1.181303,57.953133,-1.449238,漲,"[[206.89600000000002, 202.14000000000004, 72.2..."
3,2016/3/10,209.916,209.561,39.317773,44.225025,-5.33,-2.514625,-41.989199,1.932116,208.466459,4.965352,4.352700,0.612652,52.055928,-1.488416,跌,"[[209.206, 204.80600000000004, 68.220740703452..."
4,2016/3/11,210.094,210.138,56.392496,46.874105,7.55,3.653874,-9.314495,2.018598,209.736135,5.185522,4.519264,0.666257,58.498220,-1.433096,漲,"[[210.18200000000002, 206.58300000000003, 74.6..."

In [23]:
df_2330.loc[0,'5day_matrix'].shape

(5, 14)

In [24]:
X = list()
for i in range(len(df_2330)):
    X.append(df_2330.loc[i,'5day_matrix'])
X = np.array(X)
Y = df_2330['label']
X_train = X[:541]
X_test = X[541:]

In [25]:
X.shape

(682, 5, 14)

In [26]:
# 跌是[0,1] 漲是[1,0]
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

le = LabelEncoder()
Y_label= le.fit_transform(Y).reshape(-1,1)
ohe = OneHotEncoder()
Y_label = ohe.fit_transform(Y_label).toarray()
Y_label

C:\Users\Daniel\Anaconda3\envs\tfenv\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

array([[0., 1.],
       [1., 0.],
       [1., 0.],
       ...,
       [0., 1.],
       [1., 0.],
       [1., 0.]])

In [27]:
Y_train = Y_label[:541]
Y_test = Y_label[541:]

In [28]:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(541, 5, 14)
(141, 5, 14)
(541, 2)
(141, 2)

In [29]:
from keras.models import Model, Sequential
from keras.layers import LSTM, Activation, Dense, Dropout, Input, Embedding, SpatialDropout1D, Flatten, Conv1D, MaxPooling1D, TimeDistributed
from keras.optimizers import RMSprop, adam
from keras.preprocessing.text import Tokenizer
from keras.preprocessing import sequence
from keras.callbacks import EarlyStopping

Using TensorFlow backend.

In [30]:
model = Sequential()
model.add(LSTM(64, input_shape=(5,14), dropout=0.2))
model.add(Dense(32, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(2, activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='RMSprop', metrics=['accuracy'])
model.summary()

WARNING:tensorflow:From C:\Users\Daniel\Anaconda3\envs\tfenv\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From C:\Users\Daniel\Anaconda3\envs\tfenv\lib\site-packages\keras\backend\tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_1 (LSTM)                (None, 64)                20224
_________________________________________________________________
dense_1 (Dense)              (None, 32)                2080
_________________________________________________________________
dropout_1 (Dropout)          (None, 32)                0
_________________________________________________________________
dense_2 (Dense)              (None, 2)                 66
=================================================================
Total params: 22,370
Trainable params: 22,370
Non-trainable params: 0
_________________________________________________________________

In [31]:
visible = Input(shape=(5,14))
lstm1 = LSTM(64, dropout=0.2)(visible)
hidden1 = Dense(32, activation='relu')(lstm1)
hidden2 = Dropout(0.2)(hidden1)
output = Dense(2, activation='softmax')(hidden2)
model1 = Model(inputs=visible, outputs=output)
model1.compile(loss='categorical_crossentropy', optimizer='RMSprop', metrics=['accuracy'])
print(model1.summary())

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         (None, 5, 14)             0
_________________________________________________________________
lstm_2 (LSTM)                (None, 64)                20224
_________________________________________________________________
dense_3 (Dense)              (None, 32)                2080
_________________________________________________________________
dropout_2 (Dropout)          (None, 32)                0
_________________________________________________________________
dense_4 (Dense)              (None, 2)                 66
=================================================================
Total params: 22,370
Trainable params: 22,370
Non-trainable params: 0
_________________________________________________________________
None

In [32]:
history = model1.fit(X_train, Y_train, validation_data=(X_test, Y_test), epochs=100, batch_size=16, verbose=1)

WARNING:tensorflow:From C:\Users\Daniel\Anaconda3\envs\tfenv\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 541 samples, validate on 141 samples
Epoch 1/100
541/541 [==============================] - 3s 6ms/step - loss: 0.7105 - acc: 0.5416 - val_loss: 0.6022 - val_acc: 0.7589
Epoch 2/100
541/541 [==============================] - 1s 927us/step - loss: 0.6846 - acc: 0.5878 - val_loss: 0.5924 - val_acc: 0.7305
Epoch 3/100
541/541 [==============================] - 0s 922us/step - loss: 0.6701 - acc: 0.5564 - val_loss: 0.5753 - val_acc: 0.7092
Epoch 4/100
541/541 [==============================] - 0s 924us/step - loss: 0.6477 - acc: 0.6433 - val_loss: 0.5723 - val_acc: 0.7234
Epoch 5/100
541/541 [==============================] - 0s 881us/step - loss: 0.6678 - acc: 0.5933 - val_loss: 0.5685 - val_acc: 0.7447
Epoch 6/100
541/541 [==============================] - 0s 836us/step - loss: 0.6321 - acc: 0.6433 - val_loss: 0.5775 - val_acc: 0.7234
Epoch 7/100
541/541 [==============================] - 0s 833us/step - loss: 0.6508 - acc: 0.6026 - val_loss: 0.5599 - val_acc: 0.7163
Epoch 8/100
541/541 [==============================] - 0s 820us/step - loss: 0.6302 - acc: 0.6377 - val_loss: 0.5431 - val_acc: 0.7518
Epoch 9/100
541/541 [==============================] - 0s 814us/step - loss: 0.6286 - acc: 0.6488 - val_loss: 0.5361 - val_acc: 0.7518
Epoch 10/100
541/541 [==============================] - 0s 837us/step - loss: 0.6271 - acc: 0.6433 - val_loss: 0.5685 - val_acc: 0.7660
Epoch 11/100
541/541 [==============================] - 0s 832us/step - loss: 0.6240 - acc: 0.6580 - val_loss: 0.5448 - val_acc: 0.7660
Epoch 12/100
541/541 [==============================] - 0s 840us/step - loss: 0.6229 - acc: 0.6710 - val_loss: 0.5307 - val_acc: 0.7801
Epoch 13/100
541/541 [==============================] - 0s 851us/step - loss: 0.6177 - acc: 0.6710 - val_loss: 0.5063 - val_acc: 0.7943
Epoch 14/100
541/541 [==============================] - 0s 833us/step - loss: 0.5846 - acc: 0.7098 - val_loss: 0.5374 - val_acc: 0.7376
Epoch 15/100
541/541 [==============================] - 0s 849us/step - loss: 0.6166 - acc: 0.6562 - val_loss: 0.5073 - val_acc: 0.7589
Epoch 16/100
541/541 [==============================] - 0s 852us/step - loss: 0.5768 - acc: 0.6913 - val_loss: 0.5071 - val_acc: 0.7943
Epoch 17/100
541/541 [==============================] - 0s 868us/step - loss: 0.5894 - acc: 0.6932 - val_loss: 0.4873 - val_acc: 0.7801
Epoch 18/100
541/541 [==============================] - 0s 896us/step - loss: 0.5739 - acc: 0.7061 - val_loss: 0.4951 - val_acc: 0.7943
Epoch 19/100
541/541 [==============================] - 0s 889us/step - loss: 0.5500 - acc: 0.7209 - val_loss: 0.5001 - val_acc: 0.7730
Epoch 20/100
541/541 [==============================] - 0s 835us/step - loss: 0.5908 - acc: 0.6913 - val_loss: 0.5000 - val_acc: 0.7943
Epoch 21/100
541/541 [==============================] - 0s 844us/step - loss: 0.5879 - acc: 0.7116 - val_loss: 0.4777 - val_acc: 0.8085
Epoch 22/100
541/541 [==============================] - 0s 850us/step - loss: 0.5946 - acc: 0.6784 - val_loss: 0.5047 - val_acc: 0.7730
Epoch 23/100
541/541 [==============================] - 0s 830us/step - loss: 0.5880 - acc: 0.7006 - val_loss: 0.5016 - val_acc: 0.7730
Epoch 24/100
541/541 [==============================] - 0s 833us/step - loss: 0.5706 - acc: 0.7135 - val_loss: 0.5471 - val_acc: 0.7518
Epoch 25/100
541/541 [==============================] - 0s 850us/step - loss: 0.5799 - acc: 0.7172 - val_loss: 0.4912 - val_acc: 0.7943
Epoch 26/100
541/541 [==============================] - 0s 842us/step - loss: 0.5587 - acc: 0.7320 - val_loss: 0.5044 - val_acc: 0.7447
Epoch 27/100
541/541 [==============================] - 0s 863us/step - loss: 0.5577 - acc: 0.7172 - val_loss: 0.5020 - val_acc: 0.7872
Epoch 28/100
541/541 [==============================] - 0s 817us/step - loss: 0.5924 - acc: 0.6913 - val_loss: 0.4968 - val_acc: 0.8085
Epoch 29/100
541/541 [==============================] - 0s 889us/step - loss: 0.5629 - acc: 0.7116 - val_loss: 0.4956 - val_acc: 0.8085
Epoch 30/100
541/541 [==============================] - 0s 839us/step - loss: 0.5637 - acc: 0.7079 - val_loss: 0.4838 - val_acc: 0.7872
Epoch 31/100
541/541 [==============================] - 0s 829us/step - loss: 0.5557 - acc: 0.7227 - val_loss: 0.4835 - val_acc: 0.7943
Epoch 32/100
541/541 [==============================] - 0s 857us/step - loss: 0.5663 - acc: 0.7320 - val_loss: 0.4733 - val_acc: 0.8085
Epoch 33/100
541/541 [==============================] - 0s 863us/step - loss: 0.5550 - acc: 0.7283 - val_loss: 0.4895 - val_acc: 0.8014
Epoch 34/100
541/541 [==============================] - 0s 852us/step - loss: 0.5663 - acc: 0.7116 - val_loss: 0.5021 - val_acc: 0.7801
Epoch 35/100
541/541 [==============================] - 0s 841us/step - loss: 0.5475 - acc: 0.7135 - val_loss: 0.4786 - val_acc: 0.7872
Epoch 36/100
541/541 [==============================] - 0s 874us/step - loss: 0.5504 - acc: 0.7375 - val_loss: 0.5091 - val_acc: 0.7943
Epoch 37/100
541/541 [==============================] - 0s 846us/step - loss: 0.5530 - acc: 0.7283 - val_loss: 0.4845 - val_acc: 0.8014
Epoch 38/100
541/541 [==============================] - 0s 878us/step - loss: 0.5638 - acc: 0.7283 - val_loss: 0.4671 - val_acc: 0.8085
Epoch 39/100
541/541 [==============================] - 0s 894us/step - loss: 0.5539 - acc: 0.7375 - val_loss: 0.4603 - val_acc: 0.8085
Epoch 40/100
541/541 [==============================] - 0s 894us/step - loss: 0.5546 - acc: 0.7246 - val_loss: 0.5031 - val_acc: 0.7801
Epoch 41/100
541/541 [==============================] - 0s 878us/step - loss: 0.5429 - acc: 0.7246 - val_loss: 0.4764 - val_acc: 0.7589
Epoch 42/100
541/541 [==============================] - 0s 836us/step - loss: 0.5489 - acc: 0.7227 - val_loss: 0.4894 - val_acc: 0.7730
Epoch 43/100
541/541 [==============================] - 0s 854us/step - loss: 0.5414 - acc: 0.7523 - val_loss: 0.4664 - val_acc: 0.7943
Epoch 44/100
541/541 [==============================] - 0s 843us/step - loss: 0.5362 - acc: 0.7449 - val_loss: 0.4534 - val_acc: 0.8085
Epoch 45/100
541/541 [==============================] - 0s 850us/step - loss: 0.5387 - acc: 0.7301 - val_loss: 0.4496 - val_acc: 0.7872
Epoch 46/100
541/541 [==============================] - 0s 839us/step - loss: 0.5472 - acc: 0.7431 - val_loss: 0.4518 - val_acc: 0.7872
Epoch 47/100
541/541 [==============================] - 0s 833us/step - loss: 0.5550 - acc: 0.7431 - val_loss: 0.4386 - val_acc: 0.8014
Epoch 48/100
541/541 [==============================] - 0s 884us/step - loss: 0.5563 - acc: 0.7412 - val_loss: 0.4572 - val_acc: 0.8014
Epoch 49/100
541/541 [==============================] - 0s 861us/step - loss: 0.5377 - acc: 0.7505 - val_loss: 0.4542 - val_acc: 0.8156
Epoch 50/100
541/541 [==============================] - 0s 839us/step - loss: 0.5433 - acc: 0.7579 - val_loss: 0.4644 - val_acc: 0.7872
Epoch 51/100
541/541 [==============================] - 0s 835us/step - loss: 0.5534 - acc: 0.7320 - val_loss: 0.4503 - val_acc: 0.8014
Epoch 52/100
541/541 [==============================] - 0s 870us/step - loss: 0.5515 - acc: 0.7320 - val_loss: 0.4645 - val_acc: 0.7943
Epoch 53/100
541/541 [==============================] - 0s 879us/step - loss: 0.5408 - acc: 0.7227 - val_loss: 0.4455 - val_acc: 0.7943
Epoch 54/100
541/541 [==============================] - 0s 852us/step - loss: 0.5564 - acc: 0.7505 - val_loss: 0.4683 - val_acc: 0.8085
Epoch 55/100
541/541 [==============================] - 0s 876us/step - loss: 0.5500 - acc: 0.7172 - val_loss: 0.4474 - val_acc: 0.8014
Epoch 56/100
541/541 [==============================] - 0s 824us/step - loss: 0.5326 - acc: 0.7449 - val_loss: 0.4941 - val_acc: 0.7801
Epoch 57/100
541/541 [==============================] - 0s 890us/step - loss: 0.5370 - acc: 0.7357 - val_loss: 0.4575 - val_acc: 0.7943
Epoch 58/100
541/541 [==============================] - 0s 857us/step - loss: 0.5687 - acc: 0.7227 - val_loss: 0.4380 - val_acc: 0.8085
Epoch 59/100
541/541 [==============================] - 0s 861us/step - loss: 0.5539 - acc: 0.7283 - val_loss: 0.4690 - val_acc: 0.7801
Epoch 60/100
541/541 [==============================] - 0s 876us/step - loss: 0.5334 - acc: 0.7394 - val_loss: 0.4429 - val_acc: 0.8085
Epoch 61/100
541/541 [==============================] - 0s 870us/step - loss: 0.5493 - acc: 0.7246 - val_loss: 0.4442 - val_acc: 0.8085
Epoch 62/100
541/541 [==============================] - 0s 863us/step - loss: 0.5383 - acc: 0.7375 - val_loss: 0.4457 - val_acc: 0.8156
Epoch 63/100
541/541 [==============================] - 0s 831us/step - loss: 0.5478 - acc: 0.7264 - val_loss: 0.4738 - val_acc: 0.7872
Epoch 64/100
541/541 [==============================] - 0s 863us/step - loss: 0.5131 - acc: 0.7542 - val_loss: 0.4904 - val_acc: 0.7447
Epoch 65/100
541/541 [==============================] - 0s 878us/step - loss: 0.5714 - acc: 0.7264 - val_loss: 0.4438 - val_acc: 0.8156
Epoch 66/100
541/541 [==============================] - 0s 844us/step - loss: 0.5440 - acc: 0.7394 - val_loss: 0.4507 - val_acc: 0.8227
Epoch 67/100
541/541 [==============================] - 0s 846us/step - loss: 0.5167 - acc: 0.7505 - val_loss: 0.4280 - val_acc: 0.8227
Epoch 68/100
541/541 [==============================] - 0s 830us/step - loss: 0.5247 - acc: 0.7449 - val_loss: 0.4403 - val_acc: 0.8014
Epoch 69/100
541/541 [==============================] - 0s 865us/step - loss: 0.5244 - acc: 0.7375 - val_loss: 0.4647 - val_acc: 0.7943
Epoch 70/100
541/541 [==============================] - 0s 848us/step - loss: 0.5307 - acc: 0.7505 - val_loss: 0.4498 - val_acc: 0.8014
Epoch 71/100
541/541 [==============================] - 0s 859us/step - loss: 0.5219 - acc: 0.7505 - val_loss: 0.4449 - val_acc: 0.8014
Epoch 72/100
541/541 [==============================] - 0s 876us/step - loss: 0.5370 - acc: 0.7634 - val_loss: 0.4531 - val_acc: 0.8014
Epoch 73/100
541/541 [==============================] - 0s 881us/step - loss: 0.5207 - acc: 0.7412 - val_loss: 0.4428 - val_acc: 0.8085
Epoch 74/100
541/541 [==============================] - 0s 870us/step - loss: 0.5256 - acc: 0.7431 - val_loss: 0.4655 - val_acc: 0.7730
Epoch 75/100
541/541 [==============================] - 0s 861us/step - loss: 0.5372 - acc: 0.7412 - val_loss: 0.4337 - val_acc: 0.8156
Epoch 76/100
541/541 [==============================] - 0s 857us/step - loss: 0.5363 - acc: 0.7283 - val_loss: 0.4432 - val_acc: 0.8014
Epoch 77/100
541/541 [==============================] - 0s 898us/step - loss: 0.5189 - acc: 0.7505 - val_loss: 0.4449 - val_acc: 0.8085
Epoch 78/100
541/541 [==============================] - 0s 848us/step - loss: 0.5219 - acc: 0.7616 - val_loss: 0.4491 - val_acc: 0.7943
Epoch 79/100
541/541 [==============================] - 0s 835us/step - loss: 0.5296 - acc: 0.7412 - val_loss: 0.4499 - val_acc: 0.7730
Epoch 80/100
541/541 [==============================] - 0s 850us/step - loss: 0.5377 - acc: 0.7264 - val_loss: 0.4362 - val_acc: 0.8085
Epoch 81/100
541/541 [==============================] - 0s 861us/step - loss: 0.5418 - acc: 0.7431 - val_loss: 0.4237 - val_acc: 0.8298
Epoch 82/100
541/541 [==============================] - 0s 881us/step - loss: 0.5437 - acc: 0.7431 - val_loss: 0.4293 - val_acc: 0.8298
Epoch 83/100
541/541 [==============================] - 0s 868us/step - loss: 0.5089 - acc: 0.7652 - val_loss: 0.4277 - val_acc: 0.8085
Epoch 84/100
541/541 [==============================] - 0s 870us/step - loss: 0.5244 - acc: 0.7431 - val_loss: 0.4817 - val_acc: 0.7447
Epoch 85/100
541/541 [==============================] - 0s 846us/step - loss: 0.5035 - acc: 0.7616 - val_loss: 0.4312 - val_acc: 0.7943
Epoch 86/100
541/541 [==============================] - 0s 857us/step - loss: 0.5356 - acc: 0.7449 - val_loss: 0.4228 - val_acc: 0.8085
Epoch 87/100
541/541 [==============================] - 0s 872us/step - loss: 0.5123 - acc: 0.7468 - val_loss: 0.4958 - val_acc: 0.7163
Epoch 88/100
541/541 [==============================] - 0s 850us/step - loss: 0.5361 - acc: 0.7190 - val_loss: 0.4398 - val_acc: 0.8085
Epoch 89/100
541/541 [==============================] - 0s 833us/step - loss: 0.5075 - acc: 0.7634 - val_loss: 0.4326 - val_acc: 0.8085
Epoch 90/100
541/541 [==============================] - 0s 837us/step - loss: 0.5275 - acc: 0.7338 - val_loss: 0.4444 - val_acc: 0.7943
Epoch 91/100
541/541 [==============================] - 0s 833us/step - loss: 0.5360 - acc: 0.7301 - val_loss: 0.4402 - val_acc: 0.7943
Epoch 92/100
541/541 [==============================] - 0s 842us/step - loss: 0.4935 - acc: 0.7708 - val_loss: 0.4238 - val_acc: 0.8156
Epoch 93/100
541/541 [==============================] - 0s 879us/step - loss: 0.5382 - acc: 0.7449 - val_loss: 0.4490 - val_acc: 0.8156
Epoch 94/100
541/541 [==============================] - 0s 872us/step - loss: 0.5356 - acc: 0.7449 - val_loss: 0.4281 - val_acc: 0.7872
Epoch 95/100
541/541 [==============================] - 0s 885us/step - loss: 0.5095 - acc: 0.7652 - val_loss: 0.4683 - val_acc: 0.7660
Epoch 96/100
541/541 [==============================] - 0s 866us/step - loss: 0.5085 - acc: 0.7763 - val_loss: 0.4530 - val_acc: 0.8014
Epoch 97/100
541/541 [==============================] - 0s 890us/step - loss: 0.5205 - acc: 0.7523 - val_loss: 0.4425 - val_acc: 0.8085
Epoch 98/100
541/541 [==============================] - 0s 842us/step - loss: 0.5030 - acc: 0.7597 - val_loss: 0.4284 - val_acc: 0.8156
Epoch 99/100
541/541 [==============================] - 0s 879us/step - loss: 0.5129 - acc: 0.7671 - val_loss: 0.4524 - val_acc: 0.7730
Epoch 100/100
541/541 [==============================] - 0s 881us/step - loss: 0.5308 - acc: 0.7597 - val_loss: 0.4390 - val_acc: 0.8014