## 用技術指標預測 (昨天預測今天)

In [1]:
import numpy as np
import pandas as pd

import datetime as datetime
import talib

In [2]:
company = '台積電'

In [3]:
df2018 = pd.read_csv("bda2019_dataset/TWSE2018.csv", encoding="utf-8")
df2017 = pd.read_csv("bda2019_dataset/TWSE2017.csv", encoding="utf-8")
df2016 = pd.read_csv("bda2019_dataset/TWSE2016.csv", encoding="utf-8")
df_all = pd.concat([df2018,df2017,df2016],axis=0, ignore_index=True)
df_company=df_all[df_all['證券代碼'].str.contains(company)]
df_company=df_company.reset_index(drop=True)
df_company

,證券代碼,年月日,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),成交值(千元),成交筆數(筆),流通在外股數(千股),本益比-TSE,股價淨值比-TSE
0,2330 台積電,2018/12/28,223.5,225.5,222.5,225.5,"30,156","6,762,447","10,247","25,930,380",16.68,3.71
1,2330 台積電,2018/12/27,222,224,220.5,223,"21,915","4,874,845","9,531","25,930,380",16.49,3.67
2,2330 台積電,2018/12/26,218.5,219.5,216,216.5,"16,893","3,678,108","6,998","25,930,380",16.01,3.56
3,2330 台積電,2018/12/25,215.5,218,215,217.5,"19,402","4,198,767","8,065","25,930,380",16.09,3.58
4,2330 台積電,2018/12/24,221.5,221.5,219.5,220,"23,376","5,151,549","6,122","25,930,380",16.27,3.62
...,...,...,...,...,...,...,...,...,...,...,...,...
732,2330 台積電,2016/1/8,118.6,121.29,118.6,120.4,"52,641","7,022,206","11,784","25,930,380",11.07,3.02
733,2330 台積電,2016/1/7,120.85,121.29,117.25,119.5,"63,475","8,432,791","19,061","25,930,380",10.99,3.00
734,2330 台積電,2016/1/6,123.99,123.99,121.29,121.74,"53,873","7,321,139","15,926","25,930,380",11.2,3.05
735,2330 台積電,2016/1/5,124.89,125.79,123.09,123.99,"46,502","6,436,850","15,836","25,930,380",11.4,3.11
736,2330 台積電,2016/1/4,128.03,128.93,124.89,125.34,"43,800","6,137,797","14,188","25,930,380",11.53,3.14

In [4]:
list2330 = list()
for row in df_company.index:
    date=df_company.loc[row,'年月日']
    opens=float(df_company.loc[row,'開盤價(元)'])
    close=float(df_company.loc[row,'收盤價(元)'])
    high=float(df_company.loc[row,'最高價(元)'])
    low=float(df_company.loc[row,'最低價(元)'])
    volumn=int(df_company.loc[row,'成交量(千股)'].replace(',',''))
    list2330.append((date,opens,close,high,low,volumn))

In [5]:
list2330.reverse()
df_2330 = pd.DataFrame(list2330, columns=['Date','Open','Close','High','Low','Volume'])
df_2330

           Date    Open   Close    High     Low  Volume
0      2016/1/4  128.03  125.34  128.93  124.89   43800
1      2016/1/5  124.89  123.99  125.79  123.09   46502
2      2016/1/6  123.99  121.74  123.99  121.29   53873
3      2016/1/7  120.85  119.50  121.29  117.25   63475
4      2016/1/8  118.60  120.40  121.29  118.60   52641
..          ...     ...     ...     ...     ...     ...
732  2018/12/24  221.50  220.00  221.50  219.50   23376
733  2018/12/25  215.50  217.50  218.00  215.00   19402
734  2018/12/26  218.50  216.50  219.50  216.00   16893
735  2018/12/27  222.00  223.00  224.00  220.50   21915
736  2018/12/28  223.50  225.50  225.50  222.50   30156

[737 rows x 6 columns]

In [6]:
#算出技術指標
sma_5 = talib.SMA(df_2330['Close'], 5)
sma_10 = talib.SMA(df_2330['Close'], 10)
k_value, d_value = talib.STOCH(df_2330['High'], df_2330['Low'], df_2330['Close'])
momentum = talib.MOM(df_2330['Close'], timeperiod=1)
roc = talib.ROC(df_2330['Close'], timeperiod=1)
william = talib.WILLR(df_2330['High'], df_2330['Low'], df_2330['Close'], timeperiod=14)
ad = talib.AD(df_2330['High'], df_2330['Low'], df_2330['Close'], df_2330['Volume'])
ema_8 = talib.EMA(df_2330['Close'], timeperiod=8)
macd, macd_signal, macd_hist = talib.MACD(df_2330['Close'], fastperiod=12, slowperiod=26, signalperiod=9)
rsi = talib.RSI(df_2330['Close'], timeperiod=14)
obv = talib.OBV(df_2330['Close'], df_2330['Volume'])
upperband, middleband, lowerband = talib.BBANDS(df_2330['Close'], timeperiod=21, nbdevup=2, nbdevdn=2, matype=0)

df_2330['sma_5'] = sma_5
df_2330['sma_10'] = sma_10
df_2330['k'] = k_value
df_2330['d'] = d_value
df_2330['momentum'] = momentum
df_2330['rate of change'] = roc
df_2330['william'] = william
df_2330['a/d'] = ad
df_2330['ema_8'] = ema_8
df_2330['macd'] = macd
df_2330['macd_signal'] = macd_signal
df_2330['macd_hist'] = macd_hist
df_2330['rsi'] = rsi
df_2330['obv'] = obv
# df_2330['bb_upperband'] = upperband
# df_2330['bb_middleband'] = middleband
# df_2330['bb_lowerband'] = lowerband
df_2330.head(40)

,Date,Open,Close,High,Low,Volume,sma_5,sma_10,k,d,momentum,rate of change,william,a/d,ema_8,macd,macd_signal,macd_hist,rsi,obv
0,2016/1/4,128.03,125.34,128.93,124.89,43800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-34042.574257,NaN,NaN,NaN,NaN,NaN,43800.0
1,2016/1/5,124.89,123.99,125.79,123.09,46502,NaN,NaN,NaN,NaN,-1.35,-1.077070,NaN,-49543.240924,NaN,NaN,NaN,NaN,NaN,-2702.0
2,2016/1/6,123.99,121.74,123.99,121.29,53873,NaN,NaN,NaN,NaN,-2.25,-1.814662,NaN,-85458.574257,NaN,NaN,NaN,NaN,NaN,-56575.0
3,2016/1/7,120.85,119.50,121.29,117.25,63475,NaN,NaN,NaN,NaN,-2.24,-1.839987,NaN,-78231.222772,NaN,NaN,NaN,NaN,NaN,-120050.0
4,2016/1/8,118.60,120.40,121.29,118.60,52641,122.194,NaN,NaN,NaN,0.90,0.753138,NaN,-60423.300839,NaN,NaN,NaN,NaN,NaN,-67409.0
5,2016/1/11,119.50,119.50,120.85,117.25,48536,121.026,NaN,NaN,NaN,-0.90,-0.747508,NaN,-48289.300839,NaN,NaN,NaN,NaN,NaN,-115945.0
6,2016/1/12,119.50,119.50,120.40,118.15,35133,120.128,NaN,NaN,NaN,0.00,0.000000,NaN,-41262.700839,NaN,NaN,NaN,NaN,NaN,-115945.0
7,2016/1/13,119.95,119.95,121.74,119.50,50237,119.770,NaN,NaN,NaN,0.45,0.376569,NaN,-71315.191911,121.240000,NaN,NaN,NaN,NaN,-65708.0
8,2016/1/14,117.25,118.15,118.60,117.25,39498,119.500,NaN,37.853654,35.569173,-1.80,-1.500625,NaN,-58149.191911,120.553333,NaN,NaN,NaN,NaN,-105206.0
9,2016/1/15,123.54,123.09,123.99,121.74,79648,120.038,121.116,55.608353,44.472116,4.94,4.181126,NaN,-42219.591911,121.117037,NaN,NaN,NaN,NaN,-25558.0
10,2016/1/18,121.29,123.09,123.99,120.85,37008,120.756,120.891,64.446104,52.636037,0.00,0.000000,NaN,-26426.368981,121.555473,NaN,NaN,NaN,NaN,-25558.0
11,2016/1/19,123.54,123.99,123.99,122.19,24995,121.654,120.891,91.097923,70.384127,0.90,0.731172,NaN,-1431.368981,122.096479,NaN,NaN,NaN,NaN,-563.0
12,2016/1/20,123.54,120.85,123.54,119.95,44423,121.834,120.802,80.019782,78.521270,-3.14,-2.532462,NaN,-23580.998507,121.819484,NaN,NaN,NaN,NaN,-44986.0
13,2016/1/21,120.40,121.29,122.64,120.40,31957,122.462,120.981,62.193593,77.770433,0.44,0.364088,-65.410959,-30143.596721,121.701821,NaN,NaN,NaN,NaN,-13029.0
14,2016/1/22,122.64,124.44,124.44,122.19,33926,122.732,121.385,62.193593,68.135656,3.15,2.597081,-15.807963,3782.403279,122.310305,NaN,NaN,NaN,47.996438,20897.0
15,2016/1/25,125.79,125.34,125.79,124.89,27213,123.182,121.969,75.154279,66.513822,0.90,0.723240,-5.269321,3782.403279,122.983571,NaN,NaN,NaN,50.147744,48110.0
16,2016/1/26,123.54,123.54,124.89,123.09,24102,123.092,122.373,84.589041,73.978971,-1.80,-1.436094,-26.346604,-8268.596721,123.107222,NaN,NaN,NaN,46.045071,24008.0
17,2016/1/27,124.89,125.34,125.34,124.44,24547,123.990,122.912,81.806110,80.516477,1.80,1.457018,-5.269321,16278.403279,123.603395,NaN,NaN,NaN,50.413855,48555.0
18,2016/1/28,123.99,125.79,126.24,123.99,37913,124.890,123.676,80.670899,82.355350,0.45,0.359023,-5.005562,39026.203279,124.089307,NaN,NaN,NaN,51.471765,86468.0
19,2016/1/29,124.44,128.48,128.48,123.99,57557,125.698,124.215,93.513365,85.330125,2.69,2.138485,-0.000000,96583.203279,125.065016,NaN,NaN,NaN,57.332000,144025.0
20,2016/1/30,128.03,127.58,128.48,126.69,11865,126.146,124.664,90.730434,88.304899,-0.90,-0.700498,-8.014248,96516.918362,125.623902,NaN,NaN,NaN,54.941462,132160.0
21,2016/2/1,129.38,129.38,129.38,127.13,43828,127.314,125.203,94.434137,92.892645,1.80,1.410879,-0.000000,140344.918362,126.458590,NaN,NaN,NaN,58.654595,175988.0
22,2016/2/2,129.38,128.03,129.83,127.13,25400,127.852,125.921,84.160165,89.774912,-1.35,-1.043438,-18.218623,131878.251696,126.807792,NaN,NaN,NaN,54.994214,150588.0
23,2016/2/3,130.28,131.18,131.18,129.83,71652,128.930,126.910,89.726027,89.440110,3.15,2.460361,-0.000000,203530.251696,127.779394,NaN,NaN,NaN,61.095065,222240.0
24,2016/2/15,127.58,130.28,131.63,127.58,77064,129.290,127.494,80.616716,84.834303,-0.90,-0.686080,-11.558219,229218.251696,128.335084,NaN,NaN,NaN,58.648831,145176.0
25,2016/2/16,131.18,132.53,132.97,130.73,56361,130.280,128.213,88.379273,86.240672,2.25,1.727049,-3.379416,263437.430267,129.267288,NaN,NaN,NaN,62.672695,201537.0
26,2016/2/17,133.87,132.97,133.87,132.08,38486,130.998,129.156,83.928234,84.308074,0.44,0.332000,-6.681514,263222.424681,130.090113,NaN,NaN,NaN,63.422290,240023.0
27,2016/2/18,134.77,135.67,135.67,134.32,61877,132.526,130.189,93.037546,88.448351,2.70,2.030533,-0.000000,325099.424681,131.330088,NaN,NaN,NaN,67.707723,301900.0
28,2016/2/19,133.87,135.67,135.67,133.87,37444,133.424,131.177,95.548961,90.838247,0.00,0.000000,-0.000000,362543.424681,132.294513,NaN,NaN,NaN,67.707723,301900.0
29,2016/2/22,134.32,135.67,137.02,134.32,29751,134.502,131.896,92.845787,93.810765,0.00,0.000000,-9.691314,362543.424681,133.044621,NaN,NaN,NaN,67.707723,301900.0
30,2016/2/23,135.22,134.32,135.67,133.87,22500,134.860,132.570,74.627163,87.673971,-1.35,-0.995062,-20.721412,351293.424681,133.328039,NaN,NaN,NaN,63.091636,279400.0
31,2016/2/24,134.32,132.97,135.22,132.08,22082,134.860,132.929,47.299228,71.590726,-1.35,-1.005063,-31.082118,341729.246337,133.248474,NaN,NaN,NaN,58.776225,257318.0
32,2016/2/25,133.87,135.22,135.67,133.42,25233,134.770,133.648,42.307692,54.744695,2.25,1.692111,-13.814275,356869.046337,133.686591,NaN,NaN,NaN,63.283787,282551.0
33,2016/2/26,135.67,133.87,136.12,132.97,46425,134.410,133.917,39.271255,42.959392,-1.35,-0.998373,-30.493708,336972.617765,133.727349,3.671588,3.813942,-0.142354,59.107660,236126.0
34,2016/3/1,133.42,136.57,136.57,133.42,44046,134.590,134.546,66.599190,49.392713,2.70,2.016882,-4.550051,381018.617765,134.359049,3.710158,3.793185,-0.083027,64.196526,280172.0
35,2016/3/2,138.37,137.47,138.81,137.47,36101,135.220,135.040,72.107990,59.326145,0.90,0.659003,-11.472603,344917.617765,135.050371,3.769890,3.788526,-0.018636,65.727569,316273.0
36,2016/3/3,138.37,138.37,138.81,137.47,28867,136.300,135.580,90.851635,76.519605,0.90,0.654688,-3.918077,354827.184929,135.788067,3.845523,3.799925,0.045597,67.236393,345140.0
37,2016/3/4,137.47,137.02,137.92,136.12,37794,136.660,135.715,80.634741,81.198122,-1.35,-0.975645,-15.939448,354827.184929,136.061830,3.753263,3.790593,-0.037330,62.772258,307346.0
38,2016/3/7,137.02,136.57,137.92,135.67,24052,137.200,135.805,73.418876,81.635084,-0.45,-0.328419,-27.722772,350016.784929,136.174756,3.602309,3.752936,-0.150627,61.310974,283294.0
39,2016/3/8,135.67,136.57,136.57,134.32,40643,137.200,135.895,59.300744,71.118120,0.00,0.000000,-33.283804,390659.784929,136.262588,3.442989,3.690947,-0.247957,61.310974,283294.0

In [7]:
#把有NA的資料刪掉
df_2330 = df_2330.drop(columns=['Open','High','Low','Volume'])
df_2330 = df_2330[33:]
df_2330 = df_2330.reset_index(drop=True)
df_2330.head()

,Date,Close,sma_5,sma_10,k,d,momentum,rate of change,william,a/d,ema_8,macd,macd_signal,macd_hist,rsi,obv
0,2016/2/26,133.87,134.41,133.917,39.271255,42.959392,-1.35,-0.998373,-30.493708,336972.617765,133.727349,3.671588,3.813942,-0.142354,59.107660,236126.0
1,2016/3/1,136.57,134.59,134.546,66.599190,49.392713,2.70,2.016882,-4.550051,381018.617765,134.359049,3.710158,3.793185,-0.083027,64.196526,280172.0
2,2016/3/2,137.47,135.22,135.040,72.107990,59.326145,0.90,0.659003,-11.472603,344917.617765,135.050371,3.769890,3.788526,-0.018636,65.727569,316273.0
3,2016/3/3,138.37,136.30,135.580,90.851635,76.519605,0.90,0.654688,-3.918077,354827.184929,135.788067,3.845523,3.799925,0.045597,67.236393,345140.0
4,2016/3/4,137.02,136.66,135.715,80.634741,81.198122,-1.35,-0.975645,-15.939448,354827.184929,136.061830,3.753263,3.790593,-0.037330,62.772258,307346.0

In [8]:
# 正規化(scale)
from sklearn import preprocessing

df_2330['a/d'] = preprocessing.scale(df_2330['a/d'])
df_2330['obv'] = preprocessing.scale(df_2330['obv'])
df_2330.head(10)

,Date,Close,sma_5,sma_10,k,d,momentum,rate of change,william,a/d,ema_8,macd,macd_signal,macd_hist,rsi,obv
0,2016/2/26,133.87,134.410,133.917,39.271255,42.959392,-1.35,-0.998373,-30.493708,-2.775705,133.727349,3.671588,3.813942,-0.142354,59.107660,-2.422069
1,2016/3/1,136.57,134.590,134.546,66.599190,49.392713,2.70,2.016882,-4.550051,-2.668442,134.359049,3.710158,3.793185,-0.083027,64.196526,-2.294656
2,2016/3/2,137.47,135.220,135.040,72.107990,59.326145,0.90,0.659003,-11.472603,-2.756357,135.050371,3.769890,3.788526,-0.018636,65.727569,-2.190226
3,2016/3/3,138.37,136.300,135.580,90.851635,76.519605,0.90,0.654688,-3.918077,-2.732225,135.788067,3.845523,3.799925,0.045597,67.236393,-2.106722
4,2016/3/4,137.02,136.660,135.715,80.634741,81.198122,-1.35,-0.975645,-15.939448,-2.732225,136.061830,3.753263,3.790593,-0.037330,62.772258,-2.216049
5,2016/3/7,136.57,137.200,135.805,73.418876,81.635084,-0.45,-0.328419,-27.722772,-2.743940,136.174756,3.602309,3.752936,-0.150627,61.310974,-2.285625
6,2016/3/8,136.57,137.200,135.895,59.300744,71.118120,0.00,0.000000,-33.283804,-2.644964,136.262588,3.442989,3.690947,-0.247957,61.310974,-2.285625
7,2016/3/9,137.47,137.200,136.210,59.569606,64.096409,0.90,0.659003,-19.910847,-2.584974,136.530902,3.350724,3.622902,-0.272178,63.293025,-2.214366
8,2016/3/10,138.81,137.288,136.794,73.422420,64.097590,1.34,0.974758,-0.000000,-2.508646,137.037368,3.347147,3.567751,-0.220604,66.079388,-2.123699
9,2016/3/11,139.26,137.736,137.198,90.051967,74.347998,0.45,0.324184,-0.000000,-2.432430,137.531286,3.342097,3.522620,-0.180523,66.985712,-2.033165

In [9]:
#判斷這筆資料是漲還是跌
df_2330['next_mom'] = df_2330['momentum'].shift(periods=-1) #把明天的Momentum移到今天，正的代表今天到明天是漲，負的代表是跌
df_2330['next_mom'].fillna(value=0.0, inplace=True)
df_2330['label']='平'
df_2330.loc[df_2330['next_mom']>0.0, 'label'] = '漲'
df_2330.loc[df_2330['next_mom']<0.0, 'label'] = '跌'
df_2330.tail(10)

,Date,Close,sma_5,sma_10,k,d,momentum,rate of change,william,a/d,ema_8,macd,macd_signal,macd_hist,rsi,obv,next_mom,label
694,2018/12/18,222.5,224.2,222.95,43.572985,59.259259,-1.0,-0.447427,-75.757576,1.198622,223.641537,-1.797317,-2.035121,0.237803,45.362055,1.386169,3.0,漲
695,2018/12/19,225.5,224.0,222.90,53.202614,52.338417,3.0,1.348315,-57.575758,1.255643,224.054529,-1.545576,-1.937212,0.391636,49.412294,1.453902,-4.5,跌
696,2018/12/20,221.0,223.0,223.00,41.616162,46.130587,-4.5,-1.995565,-84.848485,1.161407,223.375745,-1.689704,-1.887710,0.198006,44.128114,1.341962,2.5,漲
697,2018/12/21,223.5,223.2,223.25,53.581974,49.466917,2.5,1.131222,-68.750000,1.252869,223.403357,-1.583939,-1.826956,0.243017,47.487919,1.477767,-2.0,跌
698,2018/12/22,221.5,222.8,223.50,41.958042,45.718726,-2.0,-0.894855,-66.666667,1.265495,222.980389,-1.642568,-1.790078,0.147511,45.148854,1.462768,-1.5,跌
699,2018/12/24,220.0,222.3,223.25,41.025641,45.521886,-1.5,-0.677201,-83.333333,1.237032,222.318080,-1.789441,-1.789951,0.000510,43.421392,1.395148,-2.5,跌
700,2018/12/25,217.5,220.7,222.35,27.207977,36.730553,-2.5,-1.136364,-80.000000,1.268531,221.247396,-2.083551,-1.848671,-0.234880,40.631074,1.339023,-1.0,跌
701,2018/12/26,216.5,219.8,221.40,19.943020,29.392213,-1.0,-0.459770,-88.000000,1.239147,220.192419,-2.370007,-1.952938,-0.417069,39.536628,1.290156,6.5,漲
702,2018/12/27,223.0,219.7,221.45,44.444444,30.531814,6.5,3.002309,-36.000000,1.262019,220.816326,-2.048911,-1.972133,-0.076778,49.128596,1.353550,2.5,漲
703,2018/12/28,225.5,220.5,221.65,68.518519,44.301994,2.5,1.121076,-16.000000,1.335456,221.857142,-1.574560,-1.892618,0.318058,52.265214,1.440783,0.0,平

In [10]:
print('原先資料量: %d' % len(df_2330))
df_2330 = df_2330[df_2330['label'].str.contains('漲|跌')]
df_2330=df_2330.reset_index(drop=True)
df_2330_1 = df_2330[df_2330['label'].str.contains('漲')]
df_2330_2 = df_2330[df_2330['label'].str.contains('跌')]
print('漲跌資料量: %d' % len(df_2330))
print('漲的資料量: %d' % len(df_2330_1))
print('跌的資料量: %d' % len(df_2330_2))

原先資料量: 704
漲跌資料量: 631
漲的資料量: 346
跌的資料量: 285

In [11]:
df_2330.iloc[507,0]

'2018/7/2'

In [12]:
df_2330 = df_2330.drop(columns=['Date','Close','next_mom'])
df_2330_train = df_2330[:507]
df_2330_test = df_2330[507:]
print(len(df_2330_train), len(df_2330_test))

507 124

In [13]:
df_2330_train_1 = df_2330_train.drop(columns=['label'])
df_2330_test_1 = df_2330_test.drop(columns=['label'])
X_train = df_2330_train_1.to_numpy()
X_test = df_2330_test_1.to_numpy()
Y = df_2330['label']

In [14]:
len(Y)

631

In [15]:
# 跌是[0,1] 漲是[1,0]
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

le = LabelEncoder()
Y_label= le.fit_transform(Y).reshape(-1,1)
ohe = OneHotEncoder()
Y_label = ohe.fit_transform(Y_label).toarray()
Y_label

C:\Users\Daniel\Anaconda3\envs\tfenv\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       ...,
       [0., 1.],
       [1., 0.],
       [1., 0.]])

In [16]:
Y_train = Y_label[:507]
Y_test = Y_label[507:]
print(len(Y_train),len(Y_test))

507 124

In [17]:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(507, 14)
(124, 14)
(507, 2)
(124, 2)

In [18]:
from keras.models import Model, Sequential
from keras.layers import LSTM, Activation, Dense, Dropout, Input, Embedding, SpatialDropout1D, Flatten, Conv1D, MaxPooling1D, TimeDistributed
from keras.optimizers import RMSprop, adam
from keras.preprocessing.text import Tokenizer
from keras.preprocessing import sequence
from keras.callbacks import EarlyStopping

Using TensorFlow backend.

In [19]:
model = Sequential()
model.add(Dense(64, input_shape=(14,), activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(2,activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='RMSprop', metrics=['accuracy'])
model.summary()

WARNING:tensorflow:From C:\Users\Daniel\Anaconda3\envs\tfenv\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From C:\Users\Daniel\Anaconda3\envs\tfenv\lib\site-packages\keras\backend\tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 64)                960
_________________________________________________________________
dense_2 (Dense)              (None, 32)                2080
_________________________________________________________________
dropout_1 (Dropout)          (None, 32)                0
_________________________________________________________________
dense_3 (Dense)              (None, 2)                 66
=================================================================
Total params: 3,106
Trainable params: 3,106
Non-trainable params: 0
_________________________________________________________________

In [20]:
history = model.fit(X_train, Y_train, validation_data=(X_test, Y_test), epochs=100, batch_size=16, verbose=1)

WARNING:tensorflow:From C:\Users\Daniel\Anaconda3\envs\tfenv\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 507 samples, validate on 124 samples
Epoch 1/100
507/507 [==============================] - 2s 4ms/step - loss: 6.0341 - acc: 0.4911 - val_loss: 6.2329 - val_acc: 0.4355
Epoch 2/100
507/507 [==============================] - 0s 216us/step - loss: 4.9120 - acc: 0.4655 - val_loss: 1.4593 - val_acc: 0.5565
Epoch 3/100
507/507 [==============================] - 0s 223us/step - loss: 2.2898 - acc: 0.5266 - val_loss: 0.9557 - val_acc: 0.4032
Epoch 4/100
507/507 [==============================] - 0s 212us/step - loss: 0.8082 - acc: 0.5148 - val_loss: 0.7115 - val_acc: 0.5000
Epoch 5/100
507/507 [==============================] - 0s 216us/step - loss: 0.7254 - acc: 0.5108 - val_loss: 0.7010 - val_acc: 0.5081
Epoch 6/100
507/507 [==============================] - 0s 222us/step - loss: 0.6965 - acc: 0.5306 - val_loss: 0.6848 - val_acc: 0.5645
Epoch 7/100
507/507 [==============================] - 0s 216us/step - loss: 0.6942 - acc: 0.5404 - val_loss: 0.6909 - val_acc: 0.5645
Epoch 8/100
507/507 [==============================] - 0s 230us/step - loss: 0.6973 - acc: 0.5464 - val_loss: 0.6860 - val_acc: 0.5645
Epoch 9/100
507/507 [==============================] - 0s 225us/step - loss: 0.6904 - acc: 0.5444 - val_loss: 0.6859 - val_acc: 0.5484
Epoch 10/100
507/507 [==============================] - 0s 222us/step - loss: 0.6919 - acc: 0.5444 - val_loss: 0.6856 - val_acc: 0.5645
Epoch 11/100
507/507 [==============================] - 0s 220us/step - loss: 0.6913 - acc: 0.5444 - val_loss: 0.6867 - val_acc: 0.5645
Epoch 12/100
507/507 [==============================] - 0s 218us/step - loss: 0.6897 - acc: 0.5424 - val_loss: 0.6847 - val_acc: 0.5645
Epoch 13/100
507/507 [==============================] - 0s 227us/step - loss: 0.6912 - acc: 0.5444 - val_loss: 0.6840 - val_acc: 0.5645
Epoch 14/100
507/507 [==============================] - 0s 224us/step - loss: 0.7044 - acc: 0.5444 - val_loss: 0.6875 - val_acc: 0.5645
Epoch 15/100
507/507 [==============================] - 0s 219us/step - loss: 0.6865 - acc: 0.5444 - val_loss: 0.7021 - val_acc: 0.5645
Epoch 16/100
507/507 [==============================] - 0s 216us/step - loss: 0.6870 - acc: 0.5444 - val_loss: 0.6820 - val_acc: 0.5645
Epoch 17/100
507/507 [==============================] - 0s 218us/step - loss: 0.6907 - acc: 0.5444 - val_loss: 0.6838 - val_acc: 0.5645
Epoch 18/100
507/507 [==============================] - 0s 207us/step - loss: 0.6883 - acc: 0.5444 - val_loss: 0.6803 - val_acc: 0.5645
Epoch 19/100
507/507 [==============================] - 0s 212us/step - loss: 0.6855 - acc: 0.5444 - val_loss: 0.6859 - val_acc: 0.5645
Epoch 20/100
507/507 [==============================] - 0s 224us/step - loss: 0.6878 - acc: 0.5444 - val_loss: 0.6793 - val_acc: 0.5645
Epoch 21/100
507/507 [==============================] - 0s 226us/step - loss: 0.6896 - acc: 0.5424 - val_loss: 0.6813 - val_acc: 0.5645
Epoch 22/100
507/507 [==============================] - 0s 212us/step - loss: 0.6860 - acc: 0.5444 - val_loss: 0.6861 - val_acc: 0.5645
Epoch 23/100
507/507 [==============================] - 0s 216us/step - loss: 0.6843 - acc: 0.5523 - val_loss: 0.6820 - val_acc: 0.5645
Epoch 24/100
507/507 [==============================] - 0s 214us/step - loss: 0.6903 - acc: 0.5444 - val_loss: 0.6793 - val_acc: 0.5645
Epoch 25/100
507/507 [==============================] - 0s 242us/step - loss: 0.6872 - acc: 0.5424 - val_loss: 0.6876 - val_acc: 0.5645
Epoch 26/100
507/507 [==============================] - 0s 232us/step - loss: 0.6926 - acc: 0.5444 - val_loss: 0.6838 - val_acc: 0.5645
Epoch 27/100
507/507 [==============================] - 0s 226us/step - loss: 0.6877 - acc: 0.5444 - val_loss: 0.6855 - val_acc: 0.5645
Epoch 28/100
507/507 [==============================] - 0s 254us/step - loss: 0.6900 - acc: 0.5444 - val_loss: 0.6854 - val_acc: 0.5645
Epoch 29/100
507/507 [==============================] - 0s 230us/step - loss: 0.6890 - acc: 0.5444 - val_loss: 0.6856 - val_acc: 0.5645
Epoch 30/100
507/507 [==============================] - 0s 240us/step - loss: 0.6830 - acc: 0.5444 - val_loss: 0.6870 - val_acc: 0.5645
Epoch 31/100
507/507 [==============================] - 0s 216us/step - loss: 0.6873 - acc: 0.5444 - val_loss: 0.6855 - val_acc: 0.5645
Epoch 32/100
507/507 [==============================] - 0s 216us/step - loss: 0.6840 - acc: 0.5444 - val_loss: 0.6818 - val_acc: 0.5645
Epoch 33/100
507/507 [==============================] - 0s 203us/step - loss: 0.6858 - acc: 0.5444 - val_loss: 0.6852 - val_acc: 0.5645
Epoch 34/100
507/507 [==============================] - 0s 218us/step - loss: 0.6887 - acc: 0.5444 - val_loss: 0.6834 - val_acc: 0.5645
Epoch 35/100
507/507 [==============================] - 0s 207us/step - loss: 0.6855 - acc: 0.5444 - val_loss: 0.6838 - val_acc: 0.5645
Epoch 36/100
507/507 [==============================] - 0s 205us/step - loss: 0.6860 - acc: 0.5444 - val_loss: 0.6849 - val_acc: 0.5645
Epoch 37/100
507/507 [==============================] - 0s 210us/step - loss: 0.6845 - acc: 0.5444 - val_loss: 0.6848 - val_acc: 0.5645
Epoch 38/100
507/507 [==============================] - 0s 218us/step - loss: 0.6859 - acc: 0.5444 - val_loss: 0.6857 - val_acc: 0.5645
Epoch 39/100
507/507 [==============================] - 0s 214us/step - loss: 0.6862 - acc: 0.5444 - val_loss: 0.6843 - val_acc: 0.5645
Epoch 40/100
507/507 [==============================] - 0s 216us/step - loss: 0.6842 - acc: 0.5444 - val_loss: 0.6848 - val_acc: 0.5645
Epoch 41/100
507/507 [==============================] - 0s 228us/step - loss: 0.6837 - acc: 0.5444 - val_loss: 0.6850 - val_acc: 0.5645
Epoch 42/100
507/507 [==============================] - 0s 244us/step - loss: 0.6859 - acc: 0.5444 - val_loss: 0.6851 - val_acc: 0.5645
Epoch 43/100
507/507 [==============================] - 0s 260us/step - loss: 0.6841 - acc: 0.5444 - val_loss: 0.6859 - val_acc: 0.5645
Epoch 44/100
507/507 [==============================] - 0s 210us/step - loss: 0.6841 - acc: 0.5444 - val_loss: 0.6982 - val_acc: 0.5645
Epoch 45/100
507/507 [==============================] - 0s 214us/step - loss: 0.6843 - acc: 0.5444 - val_loss: 0.6994 - val_acc: 0.5645
Epoch 46/100
507/507 [==============================] - 0s 214us/step - loss: 0.6810 - acc: 0.5444 - val_loss: 0.6926 - val_acc: 0.5645
Epoch 47/100
507/507 [==============================] - 0s 232us/step - loss: 0.6893 - acc: 0.5444 - val_loss: 0.7028 - val_acc: 0.5645
Epoch 48/100
507/507 [==============================] - 0s 230us/step - loss: 0.6767 - acc: 0.5444 - val_loss: 0.6988 - val_acc: 0.5645
Epoch 49/100
507/507 [==============================] - 0s 224us/step - loss: 0.6886 - acc: 0.5444 - val_loss: 0.6874 - val_acc: 0.5645
Epoch 50/100
507/507 [==============================] - 0s 214us/step - loss: 0.6841 - acc: 0.5424 - val_loss: 0.7048 - val_acc: 0.5645
Epoch 51/100
507/507 [==============================] - 0s 210us/step - loss: 0.6791 - acc: 0.5444 - val_loss: 0.6925 - val_acc: 0.5645
Epoch 52/100
507/507 [==============================] - 0s 203us/step - loss: 0.6848 - acc: 0.5444 - val_loss: 0.7206 - val_acc: 0.5645
Epoch 53/100
507/507 [==============================] - 0s 214us/step - loss: 0.6865 - acc: 0.5444 - val_loss: 0.6862 - val_acc: 0.5645
Epoch 54/100
507/507 [==============================] - 0s 203us/step - loss: 0.6822 - acc: 0.5444 - val_loss: 0.6852 - val_acc: 0.5645
Epoch 55/100
507/507 [==============================] - 0s 207us/step - loss: 0.6812 - acc: 0.5444 - val_loss: 0.6871 - val_acc: 0.5645
Epoch 56/100
507/507 [==============================] - 0s 214us/step - loss: 0.6891 - acc: 0.5444 - val_loss: 0.6880 - val_acc: 0.5645
Epoch 57/100
507/507 [==============================] - 0s 216us/step - loss: 0.6858 - acc: 0.5444 - val_loss: 0.6990 - val_acc: 0.5645
Epoch 58/100
507/507 [==============================] - 0s 228us/step - loss: 0.6854 - acc: 0.5444 - val_loss: 0.6852 - val_acc: 0.5645
Epoch 59/100
507/507 [==============================] - 0s 236us/step - loss: 0.6854 - acc: 0.5444 - val_loss: 0.6881 - val_acc: 0.5645
Epoch 60/100
507/507 [==============================] - 0s 246us/step - loss: 0.6857 - acc: 0.5444 - val_loss: 0.6871 - val_acc: 0.5645
Epoch 61/100
507/507 [==============================] - 0s 224us/step - loss: 0.6873 - acc: 0.5444 - val_loss: 0.6823 - val_acc: 0.5645
Epoch 62/100
507/507 [==============================] - 0s 216us/step - loss: 0.6831 - acc: 0.5444 - val_loss: 0.6922 - val_acc: 0.5645
Epoch 63/100
507/507 [==============================] - 0s 218us/step - loss: 0.6841 - acc: 0.5444 - val_loss: 0.7038 - val_acc: 0.5645
Epoch 64/100
507/507 [==============================] - 0s 216us/step - loss: 0.6842 - acc: 0.5444 - val_loss: 0.6882 - val_acc: 0.5645
Epoch 65/100
507/507 [==============================] - 0s 212us/step - loss: 0.6809 - acc: 0.5444 - val_loss: 0.7040 - val_acc: 0.5645
Epoch 66/100
507/507 [==============================] - 0s 224us/step - loss: 0.6801 - acc: 0.5444 - val_loss: 0.7091 - val_acc: 0.5645
Epoch 67/100
507/507 [==============================] - 0s 222us/step - loss: 0.6857 - acc: 0.5444 - val_loss: 0.6852 - val_acc: 0.5645
Epoch 68/100
507/507 [==============================] - 0s 214us/step - loss: 0.6861 - acc: 0.5444 - val_loss: 0.6970 - val_acc: 0.5645
Epoch 69/100
507/507 [==============================] - 0s 214us/step - loss: 0.6807 - acc: 0.5444 - val_loss: 0.7096 - val_acc: 0.5645
Epoch 70/100
507/507 [==============================] - 0s 216us/step - loss: 0.6839 - acc: 0.5444 - val_loss: 0.6980 - val_acc: 0.5645
Epoch 71/100
507/507 [==============================] - 0s 214us/step - loss: 0.6882 - acc: 0.5444 - val_loss: 0.6876 - val_acc: 0.5645
Epoch 72/100
507/507 [==============================] - 0s 216us/step - loss: 0.6790 - acc: 0.5444 - val_loss: 0.6875 - val_acc: 0.5645
Epoch 73/100
507/507 [==============================] - 0s 220us/step - loss: 0.6954 - acc: 0.5444 - val_loss: 0.7024 - val_acc: 0.5645
Epoch 74/100
507/507 [==============================] - 0s 218us/step - loss: 0.6841 - acc: 0.5444 - val_loss: 0.6902 - val_acc: 0.5645
Epoch 75/100
507/507 [==============================] - 0s 209us/step - loss: 0.6848 - acc: 0.5444 - val_loss: 0.6879 - val_acc: 0.5645
Epoch 76/100
507/507 [==============================] - 0s 216us/step - loss: 0.6832 - acc: 0.5444 - val_loss: 0.6845 - val_acc: 0.5645
Epoch 77/100
507/507 [==============================] - 0s 232us/step - loss: 0.6785 - acc: 0.5444 - val_loss: 0.6875 - val_acc: 0.5645
Epoch 78/100
507/507 [==============================] - 0s 218us/step - loss: 0.6900 - acc: 0.5424 - val_loss: 0.6870 - val_acc: 0.5645
Epoch 79/100
507/507 [==============================] - 0s 210us/step - loss: 0.6840 - acc: 0.5444 - val_loss: 0.6925 - val_acc: 0.5645
Epoch 80/100
507/507 [==============================] - 0s 216us/step - loss: 0.6822 - acc: 0.5444 - val_loss: 0.6997 - val_acc: 0.5645
Epoch 81/100
507/507 [==============================] - 0s 228us/step - loss: 0.6856 - acc: 0.5444 - val_loss: 0.6927 - val_acc: 0.5645
Epoch 82/100
507/507 [==============================] - 0s 218us/step - loss: 0.6828 - acc: 0.5444 - val_loss: 0.6901 - val_acc: 0.5645
Epoch 83/100
507/507 [==============================] - 0s 209us/step - loss: 0.6824 - acc: 0.5444 - val_loss: 0.7006 - val_acc: 0.5645
Epoch 84/100
507/507 [==============================] - 0s 214us/step - loss: 0.6775 - acc: 0.5444 - val_loss: 0.7082 - val_acc: 0.5645
Epoch 85/100
507/507 [==============================] - 0s 218us/step - loss: 0.6771 - acc: 0.5444 - val_loss: 0.6887 - val_acc: 0.5645
Epoch 86/100
507/507 [==============================] - 0s 218us/step - loss: 0.6850 - acc: 0.5444 - val_loss: 0.6828 - val_acc: 0.5645
Epoch 87/100
507/507 [==============================] - 0s 214us/step - loss: 0.6902 - acc: 0.5444 - val_loss: 0.6829 - val_acc: 0.5645
Epoch 88/100
507/507 [==============================] - 0s 210us/step - loss: 0.6846 - acc: 0.5444 - val_loss: 0.6812 - val_acc: 0.5645
Epoch 89/100
507/507 [==============================] - 0s 214us/step - loss: 0.6835 - acc: 0.5444 - val_loss: 0.6932 - val_acc: 0.5645
Epoch 90/100
507/507 [==============================] - 0s 214us/step - loss: 0.6896 - acc: 0.5444 - val_loss: 0.6886 - val_acc: 0.5645
Epoch 91/100
507/507 [==============================] - 0s 209us/step - loss: 0.6816 - acc: 0.5444 - val_loss: 0.6844 - val_acc: 0.5645
Epoch 92/100
507/507 [==============================] - 0s 220us/step - loss: 0.6858 - acc: 0.5444 - val_loss: 0.6872 - val_acc: 0.5645
Epoch 93/100
507/507 [==============================] - 0s 244us/step - loss: 0.6874 - acc: 0.5444 - val_loss: 0.6805 - val_acc: 0.5645
Epoch 94/100
507/507 [==============================] - 0s 222us/step - loss: 0.6805 - acc: 0.5444 - val_loss: 0.6799 - val_acc: 0.5645
Epoch 95/100
507/507 [==============================] - 0s 214us/step - loss: 0.6852 - acc: 0.5444 - val_loss: 0.6949 - val_acc: 0.5645
Epoch 96/100
507/507 [==============================] - 0s 214us/step - loss: 0.6811 - acc: 0.5444 - val_loss: 0.6804 - val_acc: 0.5645
Epoch 97/100
507/507 [==============================] - 0s 210us/step - loss: 0.6891 - acc: 0.5444 - val_loss: 0.6868 - val_acc: 0.5645
Epoch 98/100
507/507 [==============================] - 0s 210us/step - loss: 0.6895 - acc: 0.5444 - val_loss: 0.6866 - val_acc: 0.5645
Epoch 99/100
507/507 [==============================] - 0s 209us/step - loss: 0.6895 - acc: 0.5444 - val_loss: 0.6865 - val_acc: 0.5645
Epoch 100/100
507/507 [==============================] - 0s 209us/step - loss: 0.6895 - acc: 0.5444 - val_loss: 0.6864 - val_acc: 0.5645